a {
	text-decoration: none;
	color: #000040;
}
a:hover {
	text-decoration: none;
	color: #204080;
}
.menu-marker {
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: bold;
}
body {
    background-image: url("background-brushed-metal.jpg");
	font-size: 10pt;
	font-family: sans;
}
fieldset {
	/*border: solid 1px rgba(0, 0, 0, 0.5);*/
	background: rgba(255, 255, 255, 0.1);
}
.bash {
	color: #dddddd;
	background: rgba(0, 0, 0, 0.7);
}
.json {
	color: #000080;
	background: rgba(255, 255, 255, 0.2);
}
.note {
	background: rgba(255, 255, 100, 0.1);
}
.warning {
	color: darkred;
	background: rgba(255, 100, 100, 0.1);
}
h1 {
	color: #909090;
	margin-top: 8;
	margin-bottom: 8;
	text-shadow: -1px -1px 0px #303030, 1px 1px 1px #f0f0f0;
}
h2 {
	color: #909090;
	margin: 4;
	text-shadow: -1px -1px 0px #303030, 1px 1px 1px #f0f0f0;
}
h3 {
	color: #909090;
	margin: 2;
	text-shadow: -1px -1px 0px #303030, 1px 1px 1px #f0f0f0;
}
table {
	background: rgba(255,255,255,0.2);
}
table, td, th, tbody {
	border: 1;
	border-color: gray;
	border-collapse: collapse;
}
ul {
	margin-top: 0;
	margin-bottom: 0;
	padding: 12;
}
