a {
	text-decoration: none;
	color: #000040;
}
a:hover {
	text-decoration: none;
	color: #204080;
}
.menu-marker {
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: bold;
}
body {
    background-image: url("background-brushed-metal.jpg");
	font-size: 12px;
	font-family: sans, arial;
}
fieldset {
	/*border: solid 1px rgba(0, 0, 0, 0.5);*/
	background: rgba(255, 255, 255, 0.1);
}
.bash {
	color: #e0e0e0;
	background: rgba(0, 0, 0, 0.6);
	font-family: "Lucida Console", Monaco, monospace;
}
.json {
	color: #000080;
	background: rgba(255, 255, 255, 0.2);
	font-family: "Lucida Console", Monaco, monospace;
}
.log {
	color: #ffff00;
	background: rgba(0, 0, 100, 0.6);
	font-family: "Lucida Console", Monaco, monospace;
}
.note {
	background: rgba(255, 255, 100, 0.1);
}
.warning {
	color: darkred;
	background: rgba(255, 100, 100, 0.1);
}
h1 {
	color: #909090;
	margin: 8px;
	text-shadow: -1px -1px 0px #303030, 1px 1px 1px #f0f0f0;
	font-size: 32px;
}
h2 {
	color: #909090;
	margin: 4px;
	text-shadow: -1px -1px 0px #303030, 1px 1px 1px #f0f0f0;
	font-size: 24px;
}
h3 {
	color: #909090;
	margin: 2px;
	text-shadow: -1px -1px 0px #303030, 1px 1px 1px #f0f0f0;
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
table {
	background: rgba(255,255,255,0.2);
}
table, td, th, tbody {
	border: 1;
	border-color: gray;
	border-collapse: collapse;
}
/*ul {
	margin-top: 0;
	margin-bottom: 0;
	padding: 12;
}*/
