<div class="container-fluid">
    <div class="row">

        <!-- Left menu panel -->
        <div id="menu" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 nopadding">
            <div id="config">
                <button type="button" class="btn btn-custom btn-custom-green column-btn-lower"
                        id="start">
                    Start
                </button>
            </div>
        </div>

        <!-- Configuration fields -->
        <div id="main-content" class="col-xs-12 col-sm-8 col-md-9 col-lg-10 nopadding">
        </div>
    </div>
</div>