<div class="container-fluid">
	<div class="row">
		<div id="properties-block">
			<!-- Left menu panel -->
			<div id="menu" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 nopadding">
				<div id="all-buttons" class="btn-group">
					<button type="button" class="btn btn-custom btn-inline btn-custom-green"
					        id="start">
						<span class="player-icon icon-play"></span> Start
					</button>
					<div class="btn div-btn-outer btn-inline dropdown">
						<button type="button" class="btn btn-custom div-btn-inner dropdown-toggle"
						        data-toggle="dropdown" id="mode-main">
							Mode <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							{{#each modes}}
								<li><a id="mode-{{this}}">{{this}}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>

			<!-- Configuration fields -->
			<div id="main-content" class="col-xs-12 col-sm-8 col-md-8 col-lg-8 nopadding">
				<div class="configurations" id="all-configurations">
				</div>
			</div>
		</div>
		<div class="indent-20-upper" id="tests-block">

		</div>
	</div>
</div>