<div class="container-fluid">
    <div class="row">
        <div id="properties-block">
            <!-- Left menu panel -->
            <div id="menu" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 nopadding">
                <div id="all-buttons">
                    <button type="button" class="btn btn-custom btn-custom-green column-btn-lower"
                            id="start">
                        Start
                    </button>
                </div>
            </div>

            <!-- Configuration fields -->
            <div id="main-content" class="col-xs-12 col-sm-8 col-md-8 col-lg-8 nopadding">
                <div class="configurations" id="all-configurations">
                </div>
            </div>
        </div>
        <div class="indent-20-upper" id="tests-block">

        </div>
    </div>
</div>