<!-- Navigation bar -->
<header id="header" class="header container-fluid">
    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <a class="logo-link navbar-left" href="#">
        <div class="logo mongoose-img"></div>
    </a>
    <a class="brand navbar-left" href="/">
        Mongoose
    </a>
    <span class="version navbar-left">v{{version}}</span>
    <nav class="header-nav-tabs">
        <ul class="nav nav-tabs">
            <li id="scenarios-tab"><a href="#">Scenarios</a></li>
            <li id="defaults-tab"><a href="#">Defaults</a></li>
            <li id="tests-tab"><a href="#">Tests</a></li>
        </ul>
    </nav>
    <a class="logo-link navbar-right"
       href="https://asdwiki.isus.emc.com:8443/pages/viewpage.action?spaceKey=ECS&title=Mongoose">
        <div class="logo wiki-img"></div>
    </a>
</header>