<!-- Navigation bar -->
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#main-navbar"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<span>
					<img alt="logo" id="logo" width="58" height="50"
					     src="../assets/img/mongoose_logo.png"/>
					Mongoose
				</span>
			</a>
		</div>

		<div id="main-navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#">
						Run
						<span class="sr-only">(current)</span>
					</a>
				</li>
			</ul>
			<p class="navbar-text navbar-right">v{{version}}</p>
		</div>

	</div>
</nav>