<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">mongoose</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/mongoose</property>
		<property name="hibernate.connection.username">mongoose</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="show_sql">true</property>
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
		<mapping class="com.emc.mongoose.util.persist.Modes"></mapping>
		<mapping class="com.emc.mongoose.util.persist.Runs"></mapping>
	</session-factory>
</hibernate-configuration>