<div id="extended">
	<form class="form-horizontal" id="main-form" role="form">
		<!-- Input fields with labels from JS -->
		<div id="configuration-content">
			<input type="hidden" name="run.mode" id="hidden-run.mode"/>
		</div>
	</form>
</div>