<!-- Tabs -->
<div class="tabs-wrapper">
	<div class="container-fluid tab-header">
		<div class="bs-tabs" role="tabpanel" data-example-id="togglable-tabs">

			<!-- Tabs header -->
			<ul id="tab-list" class="nav nav-tabs nav-tabs-responsive" role="tablist">
				<li role="presentation" class="active">
					<a href="#configuration" id="main-tab" role="tab" data-toggle="tab"
					   aria-controls="configuration" aria-expanded="true">
						<span class="text">New run...</span>
					</a>
				</li>
				<li role="presentation" class="dropdown next">
					<a href="#" id="drop-tab" class="dropdown-toggle" data-toggle="dropdown"
					   aria-controls="drop-tab-contents">
						<span class="text">Running scenarios</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu pull-xs-right scenario-tabs" role="menu"
					    aria-labelledby="drop-tab"
					    id="drop-tab-contents">
						<li>
							<a href="#dropdown1" tabindex="-1" role="tab" id="dropdown1-tab"
							   data-toggle="tab" aria-controls="dropdown1">
								<span>@fat</span>
							</a>
						</li>
						<li>
							<a href="#dropdown2" tabindex="-1" role="tab" id="dropdown2-tab"
							   data-toggle="tab" aria-controls="dropdown2">
								<span>@mdo</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>

			<!-- Tabs content -->
			<div id="tabs-content" class="tab-content scenarios-content">

				<div role="tabpanel" class="tab-pane fade in active" id="configuration"
				     aria-labelledby="main-tab">

				</div>
				<div role="tabpanel" class="tab-pane fade" id="dropdown1"
				     aria-labelledby="dropdown1-tab">
					<p>
						Etsy mixtape wayfarers, ethical wes anderson tofu before
						they sold out mcsweeney's organic lomo retro fanny pack
						lo-fi farm-to-table readymade.
						Messenger bag gentrify pitchfork tattooed craft beer,
						iphone skateboard locavore carles etsy salvia banksy
						hoodie helvetica. DIY synth PBR banksy irony.
						Leggings gentrify squid 8-bit cred pitchfork.
						Williamsburg banh mi whatever gluten-free,
						carles pitchfork biodiesel fixie etsy retro mlkshk vice blog.
						Scenester cred you probably haven't heard
						of them, vinyl craft beer blog stumptown.
						Pitchfork sustainable tofu synth chambray yr.
					</p>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="dropdown2"
				     aria-labelledby="dropdown2-tab">
					<p>
						Trust fund seitan letterpress, keytar raw denim keffiyeh
						etsy art party before they sold out master cleanse gluten-free
						squid scenester freegan cosby sweater. Fanny pack portland
						seitan DIY, art party locavore wolf cliche high life echo park
						Austin. Cred
						vinyl keffiyeh DIY salvia PBR,
						banh mi before they sold out farm-to-table VHS
						viral locavore cosby sweater. Lomo wolf viral,
						mustache readymade thundercats keffiyeh craft beer marfa ethical.
						Wolf salvia freegan, sartorial keffiyeh echo park
						vegan.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>