<ul class="nav nav-pills center-inline-blocks indent-20-lower">
    <li class="active"><a href="#">throughput</a></li>
    <li><a href="#">bandwidth</a></li>
    <li><a href="#">latency</a></li>
    <li><a href="#">duration</a></li>
</ul>