<ul class="nav nav-pills center-inline-blocks indent-20-lower">
    {{#each tabs}}
        <li class="tests-charts-tab" id="{{this}}-tests-charts-tab"><a>{{this}}</a></li>
    {{/each}}
</ul>
<div id="charts-block">
</div>
