<ul class="nav nav-pills center-inline-blocks indent-20-lower">
    <li class="active"><a href="#">messages</a></li>
    <li><a href="#">errors</a></li>
    <li><a href="#">perf.avg</a></li>
    <li><a href="#">perf.sum</a></li>
</ul>
<div id="log-wrapper" class="tab-content">
    <div class="table-content">
        <div class="table-responsive">
            <table class="table table-condenced">
                <thead>
                <tr>
                    <th>Level</th>
                    <th>LoggerName</th>
                    <th>ThreadName</th>
                    <th>TimeMillis</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>