html, body {
	height: 100%;
}

label {
	display: block;
}

.form-control {
	display: inline;
}

#logo {
	float: left;
}

#logo img {
	margin-top: 5px;
	margin-right: 5px;
}

#run-modes, #config {
	margin-top: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

#menu li {
	position: relative;
	margin-left: -15px;
	list-style: none;
}

.folders {
	display: none;
	border-bottom: 1px solid #ccc;
	margin-top: 15px;
	padding-bottom: 15px;
	overflow: auto;
	height: calc(100vh - 430px);
}

.props {
	background: url('../images/document.png') 15px 1px no-repeat;
	padding-left: 37px;
	text-decoration: none;
	display: block;
}

.property {
	display: block;
	margin-left: 20px;
}

#menu li input {
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}

li input + ul {
	background: url('../images/toggle-small-expand.png') 40px 0 no-repeat;
	margin: -1.67em 0 0 -44px;
	height: 1em;
}

li input + ul > li {
	display: none;
	margin-left: -14px !important;
	padding-left: 1px;
}

li label {
	background: url('../images/folder.png') 15px 1px no-repeat;
	cursor: pointer;
	display: block;
	padding-left: 37px;
}

li input:checked + ul {
	background: url('../images/toggle-small.png') 40px 5px no-repeat;
	margin: -2em 0 0 -44px;
	padding: 1.563em 0 0 80px;
	height: auto;
}

li input:checked + ul > li {
	display: block;
	margin: 0 0 0.125em;
}

li input:checked + ul > li:last-child {
	margin: 0 0 0.063em;
}

#main-content {
	height: calc(100vh - 114px);
	border-left: 1px solid #ccc;
	overflow: auto;
}

#configuration-content {
	margin-left: 10px;
}

.stop-block-xs .stop {
	width: 100%;
	margin-bottom: 5px;
}

.tab-content {
	width: 100%;
}

.tab-wrapper {
	width: 100%;
}

.kill {
	margin-left: 10px;
	vertical-align: top;
}

.kill:hover {
	color: #D43F3A;
	cursor: pointer;
}

.form-horizontal .control-label {
	text-align: left;
}

#base {
	margin-top: 10px;
	margin-left: 10px;
}

.form-select {
	margin-top: 7px;
	margin-bottom: 7px;
}

.pre-select {
	width: 100px;
}

.modal-tabs {
	margin-top: 15px;
}

#config-type {
	margin-bottom: 10px;
}

#config-file {
	text-align: center;
}

#file-visibility {
	margin-top: 10px;
	text-align: center;
}

#file-visibility input, #file-visibility label {
	display: inline;
	vertical-align: top;
}

#config-file {
	display: none;
	margin-top: 10px;
}

.no-padding {
	padding: 0;
}

.form-horizontal .form-group {
	margin-top: 15px;
	margin-left: 0;
	margin-right: 0;
}

.client {
	display: none;
}

body svg {
	font: 12px sans-serif;
	overflow-x: auto;
}

text.shadow {
	stroke: #fff;
	stroke-width: 2.5px;
	opacity: 0.9;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.grid .tick {
	stroke: lightgrey;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}
.grid path {
	stroke-width: 0;
}

.area {
	fill: lightsteelblue;
	stroke-width: 0;
}

.dot {
	stroke-width: 1.5px;
}

#scenario-tab,
#log-pills,
#chart-pills {
	margin-top: 20px;
	text-align: center;
}

#scenario-tab > li,
#log-pills > li,
#chart-pills > li {
	float: none;
	display: inline-block;
}

#scenario-tab li:nth-child(1) {
	position: absolute;
	top: 140px;
	left: 0px;
}

#log-pills {
	padding-bottom: 5px;
}

.table-responsive table {
	font: 14px sans-serif;
}

.table-content {
	height: calc(100vh - 255px);
	overflow-y: auto;
}

#log-wrapper {
	border: 5px solid #ccc;
	border-radius: 5px;
}

#run-modes div, #config div {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

#start {
	margin-left: 15px;
	width: 130px;
	height: 40px;
	float: right;
}

#save-config {
	margin-bottom: 5px;
}

.save-buttons {
	margin-left: 30px !important;
}

/*  Media Selectors */
@media (max-width: 768px) {
	#main-content {
		overflow: visible;
		height: auto;
	}
	.folders {
		overflow: auto;
		height: 200px;
	}
	#log-pills li {
		width: 90%;
	}
    #chart-pills li {
	    width: 90%;
    }
}
