html, body {
	height: 100%;
}

label {
	display: block;
}

.form-control {
	display: inline;
}

#logo {
	float: left;
}

#logo img {
	margin-right: 15px;
	border-radius: 15px;
	width: 50px;
	height: 50px;
}

#run-modes, #config {
	margin-top: 15px;
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

#menu li {
	position: relative;
	margin-left: -15px;
	list-style: none;
}

.folders {
	display: none;
	border-bottom: 1px solid #ccc;
	margin-top: 15px;
	height: 600px;
	overflow: scroll;
}

/*.file {
	margin-left: -1px !important;
	padding-left: 3px;
}*/

.props {
	background: url('../images/document.png') 15px 1px no-repeat;
	padding-left: 37px;
	text-decoration: none;
	display: block;
	margin-bottom: 5px;
}

.property {
	display: block;
	margin-left: 20px;
}

#menu li input {
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}

.breadcrumb {
	padding-bottom: 20px;
	border-radius: 0;
}

li input + ul {
	background: url('../images/toggle-small-expand.png') 40px 0 no-repeat;
	margin: -1.67em 0 0 -44px;
	height: 1em;
}

li input + ul > li {
	display: none;
	margin-left: -14px !important;
	padding-left: 1px;
}

li label {
	background: url('../images/folder.png') 15px 1px no-repeat;
	cursor: pointer;
	display: block;
	padding-left: 37px;
}

li input:checked + ul {
	background: url('../images/toggle-small.png') 40px 5px no-repeat;
	margin: -2em 0 0 -44px;
	padding: 1.563em 0 0 80px;
	height: auto;
}

li input:checked + ul > li {
	display: block;
	margin: 0 0 0.125em;
}

li input:checked + ul > li:last-child {
	margin: 0 0 0.063em;
}

#main-content {
	height: calc(100vh - 114px);
	border-left: 1px solid #ccc;
	/*display: inline-block;
	width: 80%;
	vertical-align: top;
	float: left;
	position: absolute;
	min-width: 528px;
	border-left: 1px solid #ccc;
	margin-left: -1px;*/
}

#configuration-content {
	margin-left: 10px;
}

.dropdown-menu li {
	display: block;
}

.dropdown-image {
	margin-right: 6px;
}

/*border*/

.left-side, .right-side {
	display: inline-block;
	vertical-align: top;
}

.left-side {
	width: 15%;
}

.right-side {
	width: 84%;
}

.right-side .log-wrapper {
	border: 8px solid #ccc;
	border-radius: 5px;
}

.log-wrapper {
	min-width: 1200px;
}

.right-side .tab-content {
	word-wrap: break-word;
	height: 800px;
	margin: 15px;
}

.stop {
	margin-bottom: 15px;
}

table {
	width: 100%;
}

thead, tbody, tr, td, th {
	display: block;
}

tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

thead th {
	height: 30px;
}

tbody {
	height: 720px;
	overflow-y: auto;
}

thead {
	/* fallback */
}

th, td {
	float: left;
}

tbody td:nth-child(3), tbody td:nth-child(4) {
	width: 11%;
}

tbody td:nth-child(1) {
	width: 6%;
}

tbody td:nth-child(2) {
	width: 26%;
}

tbody td:nth-child(5) {
	width: 46%;
}

th:nth-child(3), th:nth-child(4) {
	width: 11%;
}

th:nth-child(1) {
	width: 6%;
}

th:nth-child(2) {
	width: 26%;
}

th:nth-child(5) {
	width: 46%;
}

.tab-content {
	width: 100%;
}

.tab-wrapper {
	width: 100%;
}

.glyphicon-remove {
	margin-left: 10px;
	vertical-align: top;
}

.glyphicon-remove:hover {
	color: #D43F3A;
}

.table-pane {
	margin-top: 20px;
}

.form-horizontal .control-label {
	text-align: left;
}

#base {
	margin-top: 10px;
	margin-left: 10px;
}

.form-select {
	margin-top: 7px;
	margin-bottom: 7px;
}

.pre-select {
	width: 100px;
}

.submenu {
	border: 1px dashed #ccc;
}

.modal-tabs {
	margin-top: 15px;
}

.content {
	background-color: #000;
	height: 100%;
}

.content img {
	margin:180px 50px 75px 450px;
}

.return-link {
	font-size: 23px;
}

#config-type {
	margin-bottom: 10px;
}

#config-file {
	text-align: center;
}

#file-visibility {
	margin-top: 10px;
	text-align: center;
}

#file-visibility input, #file-visibility label {
	display: inline;
	vertical-align: top;
}

#config-file {
	display: none;
	margin-top: 10px;
}

.no-padding {
	padding: 0;
}

.form-horizontal .form-group {
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
}

.client {
	display: none;
}