.ui-tabs, .ui-tabs .ui-tabs-nav, .ui-tabs .ui-tabs-panel, .ui-widget-header .ui-state-default,
.ui-accordion-content-active .ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	background: inherit;
}
h1, h2 {
	color: #a0a0a0;
	text-shadow: -1px -2px 0px #404040, 1px 2px 3px #f0f0f0;
}
