#run-modes, #config {
	padding: 10px;
}

#run-modes div {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.block {
	display: block;
}

#file-visibility {
	margin-top: 10px;
	text-align: center;
}

#file-visibility input, #file-visibility label {
	display: inline;
	vertical-align: top;
}

.no-padding {
	padding: 0;
}

#base {
	margin-top: 10px;
	margin-left: 10px;
}

.form-horizontal .form-group {
	margin-top: 15px;
	margin-left: 0;
	margin-right: 0;
}

.form-horizontal .control-label {
	text-align: left;
}

.form-select {
	padding-left: 0;
}

#main-content {
	height: calc(100vh - 114px); /* looks ugly */
	overflow: auto;
}

/* Media Selectors */
@media (max-width: 768px) {
	#main-content {
		overflow: visible;
		height: auto;
	}
	.folders {
		display: none;
	}
	#log-pills li {
		width: 90%;
	}
	#chart-pills li {
		width: 90%;
	}
}

