#run-modes, #config {
	margin-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#run-modes div, #config div {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.block {
	display: block;
}

#start {
	margin-left: 15px;
	width: 130px;
	height: 40px;
	float: right;
}

.save-buttons {
	margin-left: 30px !important;
}

#save-config {
	margin-bottom: 5px;
}

#file-visibility {
	margin-top: 10px;
	text-align: center;
}

#file-visibility input, #file-visibility label {
	display: inline;
	vertical-align: top;
}

#config-file {
	margin-top: 10px;
	display: none;
}

.no-padding {
	padding: 0;
}

#base {
	margin-top: 10px;
	margin-left: 10px;
}

.form-horizontal .form-group {
	margin-top: 15px;
	margin-left: 0;
	margin-right: 0;
}

.form-horizontal .control-label {
	text-align: left;
}

.form-select {
	padding-left: 0;
}

#main-content {
	height: calc(100vh - 114px); /* looks ugly */
	border-left: 1px solid #ccc;
	overflow: auto;
}

/* Media Selectors */
@media (max-width: 768px) {
	#main-content {
		overflow: visible;
		height: auto;
	}
	.folders {
		display: none;
	}
	#log-pills li {
		width: 90%;
	}
	#chart-pills li {
		width: 90%;
	}
}

