.header {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
}
.navbar-left {
    float: left !important;
    margin-left: 0 !important;
}
.navbar-right {
    float: right !important;
    margin-right: 0 !important;
}
.header-nav-tabs {
    display: inline-block !important;
    margin-bottom: -36px !important;
    height: 50px !important;
}
.nav-tabs {
    height: inherit;
}
.nav-tabs > li {
    height: inherit;
    text-align: center;
}
.nav-tabs > li > a {
    height: inherit;
    padding: 12px 20px 15px 20px !important;
    font-size: 16px;
    min-width: 20%;
    cursor: pointer;
}
.dropdown-menu > li {
    height: inherit;
    text-align: left;
}
.dropdown-menu > li > a {
    height: inherit;
    font-size: 16px;
    min-width: 20%;
    cursor: pointer;
}
.dropdown-menu a.active {
    background-color: #b2b2b2;
}
.logo-link {
    /*padding: 5px !important;*/
    height: 50px;
    font-size: 18px;
    line-height: 20px;
}
.logo-link:focus {
    background-color: transparent !important;
}
.logo-link:hover {
    background-color: transparent !important;
}
.logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #999;

}
.mongoose-img {
    background: white url('../img/mongoose_logo_mini.png') center no-repeat;
}
.wiki-img {
    background: white url('../img/wiki_logo_mini.png') center no-repeat;
}
.logo-wiki {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #999;
    background: white url('../img/wiki_logo_mini.png') center no-repeat;
}
.brand {
    color: #5b5b5b;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 13px 10px !important;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
}
.version{
    padding: 13px 15px 15px 0 !important;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    color: #5b5b5b;
    letter-spacing: 1px;
    /*margin-left: -15px !important;*/
    cursor: default;
}
.indent-20-lower {
    margin-bottom: 20px !important;
}
.indent-20-upper {
    margin-top: 20px !important;
}
.main-container {
    border-top: 1px solid #ccc;
}
.column-btn-upper {
    /*display: block !important;*/
    margin-bottom: 5px !important;
}
.column-btn-lower {
    display: block;
    margin-top: 5px !important;
}
.btn-custom {
    min-width: 80px;
    color: black;
    text-align: center;
    border: 1px solid #cccccc !important;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.btn-custom:hover {
    text-decoration: none;
}
.btn-custom:active {
    position: relative;
    top: 1px;
}
.btn-custom-default {
    background: #e5e5e5 linear-gradient(to bottom, #f5f5f5 0%, #e5e5e5 100%) !important;
}
.btn-custom-green {
    background: #72e557 linear-gradient(to bottom, #43f57a 0%, #36e514 100%) !important;
}
.btn-inline {
    display: inline-block;
}
.nopadding {
    padding: 0 !important;
}
.center-inline-blocks {
    text-align: center !important;
}
.nav-pills li {
    float: none !important;
    display: inline-block !important;
}
.tab-content {
    border: 5px solid #ccc;
    border-radius: 5px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #225182 !important;
    border-color: #225182 !important;
    color: white !important;
}
.nav-pills a, .nav-tabs a {
    color: #225182 !important;
    text-transform: capitalize;
    cursor: pointer;
}
.nav-tabs a.active {
    background-color: #b2b2b2;
}
.list-group > .active {
    background-color: rgb(34, 81, 130) !important;
    border-color: #225182 !important;
}
.folders {
    display: block;
    min-height: 200px;
    padding-top: 10px;
    border: 1px solid #ccc;
}
.btn-file {
    margin: 0;
}
.btn-file input[type="file"] {
    display: none;
}
.btn-file input[type="text"] {
    width: auto;
    display: inline-block;
    Ñursor: default;
    margin-bottom: 5px !important;
}
.icon-reply {
	width: 30px;
	height: 30px;
	background: white url(../img/turn_back_icon.png)right top no-repeat;
	cursor: pointer;
	position: absolute;
	right: 10px;
	z-index: 1000;
}
.icon-remove {
    width: 20px;
    height: 20px;
    background: white url(../img/remove-icon.png)right top no-repeat;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
.enter-warning {
    margin: 10px !important;
    font-style: italic;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    border-color: black !important;
}
.tests-block {
    margin-top: 20px;
}
.json-view {
    padding: 10px;
    height: auto;
    max-height: 400px;
    overflow: auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}