@charset "UTF-8";

@font-face {
    font-family: "test-icons";
    src:url("../font/test-icons.eot");
    src:url("../font/test-icons.eot?#iefix") format("embedded-opentype"),
    url("../font/test-icons.woff") format("woff"),
    url("../font/test-icons.ttf") format("truetype"),
    url("../font/test-icons.svg#test-icons") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "test-icons", monospace !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "test-icons", monospace !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-stop:before {
    content: "\62";
    font-size: 20px;
}

.icon-check:before {
    content: "\61";
    font-size: 20px;
}

.icon-delete:before {
    content: "\65";
    font-size: 20px;
}

.icon-delete {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 11px;
    right: 10px;
    z-index: 1000;
    opacity: 1;
}

.icon-stop {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 11px;
    right: 40px;
    z-index: 1000;
    opacity: 1;
}

.icon-check {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 11px;
    left: 10px;
    z-index: 1000;
    opacity: 1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2000;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #555;
    z-index: 2000;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index: 2000;
}

.list-group-item.stopped {
    background-color: rgba(8, 18, 32, 0.55) !important;
    border-color: rgba(8, 18, 32, 0.55) !important;
    color: white !important;
}

.list-group-item.stopped.active {
    z-index: 2;
    color: #fff;
    background-color: #3691d1 !important;
    border-color: #388bcd !important;
}

.chart-link {
    padding: 10px;
}