<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.emc.mongoose.webui.MainServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScenarioServlet</servlet-name>
		<servlet-class>com.emc.mongoose.webui.ScenarioServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ScenarioServlet</servlet-name>
		<url-pattern>/scenario</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RunServlet</servlet-name>
		<servlet-class>com.emc.mongoose.webui.RunServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RunServlet</servlet-name>
		<url-pattern>/run</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogServlet</servlet-name>
		<servlet-class>com.emc.mongoose.webui.LogServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogServlet</servlet-name>
		<url-pattern>/logs</url-pattern>
	</servlet-mapping>

</web-app>
