<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
			http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
			version="3.0">

	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.emc.mongoose.webui.MainServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StartServlet</servlet-name>
		<servlet-class>com.emc.mongoose.webui.StartServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StartServlet</servlet-name>
		<url-pattern>/start</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StopServlet</servlet-name>
		<servlet-class>com.emc.mongoose.webui.StopServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StopServlet</servlet-name>
		<url-pattern>/stop</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogServlet</servlet-name>
		<servlet-class>com.emc.mongoose.webui.websockets.LogServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogServlet</servlet-name>
		<url-pattern>/logs</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SaveServlet</servlet-name>
		<servlet-class>com.emc.mongoose.webui.SaveServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SaveServlet</servlet-name>
		<url-pattern>/save/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StateServlet</servlet-name>
		<servlet-class>com.emc.mongoose.webui.StateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StateServlet</servlet-name>
		<url-pattern>/state/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScenarioServlet</servlet-name>
		<servlet-class>com.emc.mongoose.webui.ScenarioServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ScenarioServlet</servlet-name>
		<url-pattern>/scenario</url-pattern>
	</servlet-mapping>

</web-app>
